* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #001d30;
}

main {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(129, 190, 206, 0.6) 0%, rgba(232, 237, 231, 0.6) 100%);
}

h1, h2 {
    font-weight: 500;
    text-align: center;
}

p {
    font-weight: 400;
}

input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.hidden {
    opacity: 0;
}

.input-success {
    border: 2px solid rgb(0, 255, 21);
}

.input-error {
    border: 2px solid rgb(190, 50, 50) !important;
}

.name {
    outline: none;
    background: #E8EDE7;
    border: 1px solid rgba(55, 139, 164, 0.3);
    text-align: center;
    color: #012e4a;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns-wrap {
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
}

.btn {
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    width: 65%;
}

.play-btn {
    background-color: #53af98;
}

.table-btn {
    background-color: #378ba4;
}

.main-screen {
    max-width: 1200px;
    min-width: 280px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Уровни */
.levels-info-list {
    display: flex;
    justify-content: center;
}

.finish-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.finish-modal-block {
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

.finish-modal-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.finish-modal-score {
    margin-bottom: 5px;
}

.finish-modal-btn {
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #E8EDE7;
    background-image: url(../icon/arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px 10px;
    transform: rotate(-90deg);
    cursor: pointer;
    margin-top: 20px;
}

.finish-modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.2);
    z-index: -1;
}

.header {
    position: absolute;
    top: 20px;
    width: 100%;
}

.header, .header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header div p {
    font-weight: 500;
}

.level-rule {
    transition-duration: 400ms;
}

.level-rule-change {
    transform: translateY(20px);
    font-size: 30px !important;
}

.game-area {
    width: 100vw;
    position: absolute;
    left: 0;
}

.bottom-menu {
    margin: auto;
    width: fit-content;
}

/* Таблица рейтингов */

.leaderboard-head {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 30px;
}

.leaderboard-back {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    border-radius: 100px;
    background-color: #E8EDE7;
    background-image: url(../icon/arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(90deg);
    cursor: pointer;
}

.leaderboard-title {
    margin-bottom: 0;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
    background-color: #E8EDE7;
}

.leaderboard-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.leaderboard-row:not(:last-child) {
    border-bottom: 1px solid rgba(55, 139, 164, 0.3);
}

.leaderboard-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    height: 100%;
}

.leaderboard-id {
    border-right: 1px solid rgba(55, 139, 164, 0.3);
    width: 50px;
}

.leaderboard-score {
    border-left: 1px solid rgba(55, 139, 164, 0.3);
    font-size: 18px;
    width: 70px;
}

/* Четное/Нечетное */
.even-odd-target {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100px;
    font-size: 18px;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.even-odd-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    margin: auto;
}

.even-odd-results-container .even-odd-target {
    margin-right: -5px;
}

/* Математические прогрессии */
.math-progression {
    display: flex;
    margin: auto;
    height: 100%;
}

.math-progression-name {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.math-progression-column {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.math-progression-item {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    font-size: 18px;
}

.math-progression-item input {
    outline: none;
    border: none;
    background-color: #E8EDE7;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
}

@media (min-width: 280px) {
    h1 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .name {
        width: 280px;
        height: 60px;
        border-radius: 15px;
        margin: 0;
        order: 3;
    }

    .btns-wrap {
        flex-wrap: wrap;
        justify-content: center;
        bottom: 20px;
    }

    .btn {
        width: 64px;
        height: 64px;
        margin-bottom: 15px;
    }

    .play-btn {
        order: 2;
        margin-left: 15px;
    }
    
    .table-btn {
        order: 1;
        margin-right: 15px;
    }

    /* Главный экран */
    .levels-info-list {
        flex-direction: column;
    }

    .level-info {
        width: 280px;
        text-align: left;
        margin-bottom: 40px;
    }

    .level-name {
        display: flex;
        justify-content: space-between;
        align-items: end;
        cursor: pointer;
    }

    .level-name::after {
        content: '';
        width: 32px;
        height: 32px;
        border-radius: 100px;
        background-color: #E8EDE7;
        background-image: url(../icon/arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px 6px;
        background-position: 50% 50%;
        transform: rotate(180deg);
    }

    .level-name-active::after {
        transform: rotate(0);
    }

    .level-desc-block {
        height: 0;
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition-duration: 400ms;
    }

    .level-desc-block-active {
        transform: scaleY(1);
    }

    .level-desc {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .timer {
        font-size: 32px;
    }

    .level-rule {
        font-size: 24px;
    }

    .level-title {
        font-size: 16px;
        color: rgba(0, 34, 55, 0.6);
        margin-bottom: 10px;
    }

    /* Таблица рейтингов */
    .leaderboard-head {
        width: 90vw;
    }

    .leaderboard-back {
        width: 42px;
        height: 42px;
        background-size: 16px 10px;
    }

    .leaderboard {
        width: 100vw;
        border-radius: 15px;
    }

    .math-progression {
        flex-direction: column;
        width: 95%;
    }

    .math-progression-column {
        width: 100%;
        margin-bottom: 30px;
    }

    .math-progression-item {
        font-size: 16px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .math-progression-item input {
        font-size: 18px;
    }

    /* Арифметические выражения */
    .ariphmetic-expression {
        width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .ariphmetic-expression-expression {
        width: fit-content;
        min-width: 290px;
        padding: 15px;
        background-color: #fff;
        border-radius: 40px;
        font-weight: 500;
        font-size: 20px;
        margin-top: 100px;
        text-align: center;
        position: relative;
        z-index: 10;
    }

    .ariphmetic-expression-keyboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content;
        margin-top: 150px;
    }

    .ariphmetic-expression-key {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        background-color: #fff;
        border-radius: 100px;
        cursor: pointer;
    }

    .ariphmetic-expression-key-reset, .ariphmetic-expression-key-check {
        width: 290px;
        height: 50px;
        position: relative;
        z-index: 10;
    }

    .ariphmetic-expression-key-check {
        margin-top: 20px;
        background-color: rgb(0, 255, 21);
        color: #fff;
    }
}

@media (min-width: 520px) {
    h1 {
        font-size: 26px;
        margin-bottom: 35px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .main-screen {
        padding-top: 20px;
    }

    .btns-wrap {
        bottom: 30px;
    }

    .btn {
        margin-bottom: 0;
    }

    .play-btn {
        order: 3;
        margin-left: 20px;
    }
    
    .table-btn {
        order: 1;
        margin-right: 20px;
    }

    /* Главный экран */

    .level-info {
        width: 480px;
    }

    .level-name::after {
        width: 32px;
        height: 32px;
        background-size: 12px 6px;
    }
}

@media (min-width: 760px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px;
    }

    .btn {
        width: 80px;
        height: 80px;
    }

    .name {
        width: 320px;
    }

    .play-btn {
        margin-left: 25px;
    }
    
    .table-btn {
        margin-right: 25px;
    }

    .level-name::after {
        width: 50px;
        height: 50px;
        background-size: 20px 10px;
    }
}

@media (min-width: 980px) {
    .leaderboard {
        width: 600px;
    }

    .math-progression {
        flex-direction: row;
        justify-content: space-between;
        width: 800px;
    }

    .math-progression-column {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    
    .math-progression-item {
        margin-top: 20px;
        width: 100%;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 15px;
        font-size: 18px;
    }
    
    .math-progression-item input {
        width: 60px;
        height: 30px;
        border-radius: 8px;
        font-size: 20px;
    }
}

